.order-table {
    /* width: 3500px;
    font-size: 110%;
    margin-left: 100px;
    margin-right: 100px; */
}
.order-footer {
    margin-top: 2rem;
}
.image {
    width: 200px;
}
.table-body {
    margin-left: 500px;
}