.sell-navbar {
  padding-top: 15px;
  padding-bottom: 55px;
  color: white;
  background-color: #00bfff;
  font-size: 130%;
}
.category-navbar {
  padding-top: 20px;
  padding-bottom: 50px;
  color: rgb(7, 7, 7);
  background-color: white;
  font-size: 130%;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.category-header {
  margin-left: 5px;
  margin-right: 20px;
  padding: 8px;
  padding-left: 10px;
  /* padding-left: 5%; */
  font-size: 120%;
  font-style: italic;
}
.sell-navlink {
  float: right;
  margin-left: 15px;
  margin-right: 20px;
  padding: 8px;
  font-size: 90%;
  border-radius: 50%;
  cursor: pointer;
}
.category-navlink {
  margin-top: 18px;
  margin-left: 5px;
  margin-right: 9px;
  padding: 8px;
  padding-left: 10px;
  font-size: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.category-options {
  padding-left: 0%;
  padding-right: 65%;
}
.sell-navlink:active {
  background-color: green;
}
.search-bar {
  display: inline;
  width: 25%;
  margin-left: -2%;
  margin-bottom: 20px;
}
.search-icon {
  font-size: 150%;
}
.badge {
  color: red;
  padding-left: 80px;
}
.logo {
  height: 3rem;
  width: 3rem;
  float: left;
  padding: 0rem 3rem 0rem 25rem;
  border-radius: 50%;
}
.navbar-brand {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
