.btn {
  padding: 5px;
  margin: 10px;
}
.order-button {
  margin-top: 1rem;
}
.order-action {
  padding-left: 1rem;
}
.order-table {
  /* align-items: center; */
  margin-left: 40rem;
} 
table {
  width: 190%;
}
th,
td {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: rgb(245, 250, 252);
}
