<html>
    <body>
        <center>
        <table class='table table-hover' border='1' style='width:60%; text-align:center;'>
            <tr>
                <th>Category</th>
                <th>Name</th>
            </tr>
            {% if data %}
                {% for i in data %}
                 <tr>
                        <td>{{ i.category }}</td>
                        <td>{{ i.name }}</td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td>No data found</td>
            </tr>
            {% endif %}
        </table>
        </center>
    </body>
</html>